In [1]:
int(0.1)

0

In [2]:
int(0.9)

0

In [3]:
import pandas as pd
import numpy as np
df=pd.read_csv("/home/sunshuo/qml/TradeMaster_reframe/experiment_result/data/s_train.csv",index_col=0)

In [4]:
fornum_day=10
backward_day=10

In [5]:
data=df.iloc[0:backward_day, :]

In [6]:
data.iloc[-1,:].close

113.56600189208984

In [7]:
data

,tic,date,high,low,open,close,adjcp,zopen,zhigh,zlow,zadjcp,zclose,zd_5,zd_10,zd_15,zd_20,zd_25,zd_30
0,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,144.539993,-0.069849,0.020396,-0.072921,0,-0.038328,0.234762,0.029592,-0.012624,-0.053283,-0.066832,-0.066352
1,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,139.000000,0.035971,0.057050,-0.035611,0,-0.038328,0.234762,0.029592,-0.012624,-0.053283,-0.066832,-0.066352
2,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,116.989998,0.188136,0.195743,-0.079238,0,-0.158345,0.234762,0.029592,-0.012624,-0.053283,-0.066832,-0.066352
3,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,105.209999,0.106169,0.193803,-0.122879,0,-0.100692,0.234762,0.029592,-0.012624,-0.053283,-0.066832,-0.066352
4,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,97.750000,0.086957,0.106169,-0.190793,0,-0.070906,0.234762,0.029592,-0.012624,-0.053283,-0.066832,-0.066352
5,BTC,2013-05-04 23:59:59,115.000000,92.500000,98.099998,112.500000,112.500000,-0.128000,0.022222,-0.177778,0,0.150895,0.015911,0.029592,-0.012624,-0.053283,-0.066832,-0.066352
6,BTC,2013-05-05 23:59:59,118.800003,107.142998,112.900002,115.910004,115.910004,-0.025968,0.024933,-0.075636,0,0.030311,-0.053818,0.029592,-0.012624,-0.053283,-0.066832,-0.066352
7,BTC,2013-05-06 23:59:59,124.663002,106.639999,115.980003,112.300003,112.300003,0.032769,0.110089,-0.050401,0,-0.031145,-0.031754,0.029592,-0.012624,-0.053283,-0.066832,-0.066352
8,BTC,2013-05-07 23:59:59,113.444000,97.699997,112.250000,111.500000,111.500000,0.006726,0.017435,-0.123767,0,-0.007124,-0.013525,0.029592,-0.012624,-0.053283,-0.066832,-0.066352
9,BTC,2013-05-08 23:59:59,115.779999,109.599998,109.599998,113.566002,113.566002,-0.034922,0.019495,-0.034922,0,0.018529,-0.003617,0.029592,-0.012624,-0.053283,-0.066832,-0.066352

In [8]:
close_price_list=data.close.tolist()

In [9]:
labels=[]
for i in range(len(close_price_list)-1):
    new_price=close_price_list[i+1]
    old_price=close_price_list[i]
    return_rate=new_price/old_price-1
    labels.append(return_rate)
labels

[-0.038328445713746384,
 -0.15834533910957183,
 -0.10069235827334766,
 -0.07090579934786478,
 0.15089514066496168,
 0.03031114366319443,
 -0.031144858047586044,
 -0.007123802582526095,
 0.018529164951478494]

In [53]:
np.std(data.close)

13.555568901363369

In [52]:
data.close

0    144.539993
1    139.000000
2    116.989998
3    105.209999
4     97.750000
5    112.500000
6    115.910004
7    112.300003
8    111.500000
9    113.566002
Name: close, dtype: float64

In [42]:
data.date.unique()[-1]

'2013-05-08 23:59:59'

In [29]:
np.abs(-0.2)

0.2

In [30]:
int(-0.1)

0

In [31]:
int(-1.1)

-1

In [32]:
[1,2,3]+[1,2]

[1, 2, 3, 1, 2]

In [33]:
df.iloc[10,:]

tic                       BTC
date      2013-05-09 23:59:59
high               113.459999
low                109.260002
open               113.199997
close              112.669998
adjcp              112.669998
zopen                0.004704
zhigh                0.007012
zlow                -0.030265
zadjcp                      0
zclose               -0.00789
zd_5                 0.004608
zd_10                0.009493
zd_15               -0.012624
zd_20               -0.053283
zd_25               -0.066832
zd_30               -0.066352
Name: 10, dtype: object

In [34]:
df.loc[10,:]

tic                       BTC
date      2013-05-09 23:59:59
high               113.459999
low                109.260002
open               113.199997
close              112.669998
adjcp              112.669998
zopen                0.004704
zhigh                0.007012
zlow                -0.030265
zadjcp                      0
zclose               -0.00789
zd_5                 0.004608
zd_10                0.009493
zd_15               -0.012624
zd_20               -0.053283
zd_25               -0.066832
zd_30               -0.066352
Name: 10, dtype: object

In [3]:
import torch
torch.max(torch.tensor([[1,2,3,4,5]]),
                1)[1].data.numpy()

array([4])